body {
    margin: 0;
    font-size: 16px;
}

main {
    overflow: hidden;
}

article {
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid;
    padding: 10px;
    display: table;
}

p {
    margin: 10px 0;
    font-size: 1.25em;
}

article:nth-child(odd) img {
    float: left;
    margin-right: 10px;
}

article:nth-child(even) img {
    float: right;
    margin-left: 10px;
}