body {
    margin: 0;
}

.row > div {
    height: 75px;
    border: 6px solid white;
    padding: 4px;
}
.row div:nth-child(odd) {
    background-color: #d8dbe0;
}

.row div:nth-child(even) {
    background-color: #b1b5ba;
}

